<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icon/icon-nova/favicon.ico" type="image/x-icon">
    
    <!-- importando a api de icones do google -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    
    <!-- chamada as folhas de estilos e media queries -->
    <link rel="stylesheet" href="../styles/admin3.css" media="all">
    <link rel="stylesheet" href="../styles/queries/queries4.css">

    <!-- chamada ao javascript -->
    <!-- <script src="../scripts/ajax004.js" defer></script> -->

    <title>FJU Macaé</title>
    
</head>
<body>
    
    <header>

        <div id="logo">
            <a href="adm-config.html">Aberto das tribos</a>
        </div>

    </header>
    
    <main>

        <section class="navegacao">

            <nav>
                <a href="adm-config.html">Home</a>
                <a href="admin.html">Rally FJU</a>
                <a href="index.html">Inicio</a>
            </nav>

        </section>

        <div class="dados">
        
            <table>
                <!-- cabeçaho da tabela -->
                <thead>
                    <!-- so teremos 1 linha contendo os dados de temas da tabela -->
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Email</th>
                        <th scope="col">Senha</th>
                        <th scope="col">Controles</th>
                    </tr>
                </thead>

                <!-- corpo da tabela -->
                <tbody>

                    <!-- criando a linha que representa 1 adm da base de dados -->
                    <tr>
                        <td class="num">
                            <p>1</p>
                        </td>
                        
                        <td>pedroerickezz@gmail.com</td>
                        
                        <td>pedro123</td>

                        <!-- icones das rotas de controle do sistema -->
                        <td class="icones-controle">
                            <span class="material-symbols-outlined">visibility</span>
                            <span class="material-symbols-outlined">edit</span>
                            <span class="material-symbols-outlined">delete</span>
                        </td>
                    </tr>

                    <!-- criando a linha que representa 1 adm da base de dados -->
                    <tr>
                        <td class="num">2</td>
                        <td>pedroerickezz@gmail.com</td>
                        <td>pedro123</td>

                        <!-- icones das rotas de controle do sistema -->
                        <td class="icones-controle">
                            <span class="material-symbols-outlined">visibility</span>
                            <span class="material-symbols-outlined">edit</span>
                            <span class="material-symbols-outlined">delete</span>
                        </td>
                    </tr>
                    
                    <!-- criando a linha que representa 1 adm da base de dados -->
                    <tr>
                        <td class="num">3</td>
                        <td>pedroerickezz@gmail.com</td>
                        <td>pedro123</td>

                        <!-- icones das rotas de controle do sistema -->
                        <td class="icones-controle">
                            <span class="material-symbols-outlined">visibility</span>
                            <span class="material-symbols-outlined">edit</span>
                            <span class="material-symbols-outlined">delete</span>
                        </td>
                    </tr>
                    
                    <!-- criando a linha que representa 1 adm da base de dados -->
                    <tr>
                        <td class="num">4</td>
                        <td>pedroerickezz@gmail.com</td>
                        <td>pedro123</td>

                        <!-- icones das rotas de controle do sistema -->
                        <td class="icones-controle">
                            <span class="material-symbols-outlined">visibility</span>
                            <span class="material-symbols-outlined">edit</span>
                            <span class="material-symbols-outlined">delete</span>
                        </td>
                    </tr>

                    <!-- criando a linha que representa 1 adm da base de dados -->
                    <tr>
                        <td class="num">5</td>
                        <td>pedroerickezz@gmail.com</td>
                        <td>pedro123</td>

                        <!-- icones das rotas de controle do sistema -->
                        <td class="icones-controle">
                            <span class="material-symbols-outlined">visibility</span>
                            <span class="material-symbols-outlined">edit</span>
                            <span class="material-symbols-outlined">delete</span>
                        </td>
                    </tr>

                </tbody>

                <!-- rodapé da tabela -->
                <tfoot></tfoot>

            </table>

        </div>
   
        
    </main>
    
    <footer></footer>

</body>
</html>