<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="../icon/icon-nova/favicon.ico" type="image/x-icon">
    
    <!-- chamada as media queries: -->
    <link rel="stylesheet" href="../styles/login.css" media="all">
    <link rel="stylesheet" href="../styles/queries/querie-login.css">
    
    <!-- chamada ao javascript -->
    <script src="../scripts/ajax003.js" defer></script>
    
    <title>FJU Macaé</title>    
</head>
<body>

    <header>

        <div id="logo">
            <a href="index.html">Aberto das tribos</a>
        </div>

    </header>
    
    <main>
        <form action="admin.html" method= "post"></form>
    </main>
 
</body>
</html>