<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="../icon/icon-nova/favicon.ico" type="image/x-icon">
    
    <!-- chamada as media queries: -->
    <link rel="stylesheet" href="../styles/admin2.css" media="all">
    <link rel="stylesheet" href="../styles/queries/queries3.css">
    
    <title>FJU Macaé</title>    
</head>
<body>

    <header>

        <div id="logo">
            <a href="index.html">Aberto das tribos</a>
        </div>

    </header>
    
    <main>

        <form action="" method="post">

            <div id="imagem">
                <img src="../imagens-tribos/asser.png" alt="logo-asser">
            </div>

            <div id="dados">

                <input type="text" name="nome" id="nome" placeholder="Nome:" disabled>
                
                <input type="number" name="pontuacao" id="pontuacao" placeholder="Pontuação:" disabled>
                
                <input type="number" name="nova_pontuacao" id="nova_pontuacao" min="1" placeholder="Insira a nova pontuação" required>

                <input type="submit" value="Atualizar">
                <input type="reset" value="Limpar">

                <a href="admin.html">
                    <input type="button" value="Cancelar">
                </a>
                
            </div>
        </form>
    </main>
 
</body>
</html>