<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icon/icon-nova/favicon.ico" type="image/x-icon">
  
    <!-- chamada as media queries: -->
    <link rel="stylesheet" href="../styles/admin.css" media="all">
    <link rel="stylesheet" href="../styles/queries/queries2.css">
    
    <!-- chamada ao javascript: -->
    <script src="../scripts/ajax002.js" defer></script>

    <title>FJU Macaé</title>
</head>
<body>
    
    <header>

        <div id="logo">
            <a href="admin.html">Aberto das tribos</a>
        </div>

        <div id="botao-reiniciar">
            <input type="button" value="Reiniciar Rally">
        </div>

    </header>
    
    <main>
        <section id="tribos-conteiner"></section>
    </main>

</body>
</html>